<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo} ?: 'Nominas'">Nominas</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<header>
    <h1>Gestión de Nóminas</h1>

    <nav>
        <a th:href="@{/}">Inicio</a> |
        <a th:href="@{/empleados/listar}">Empleados</a> |
        <a th:href="@{/nominas/buscarSalario}">Buscar Salario</a>
    </nav>
    <hr>
</header>

<!-- Aquí se inyecta el contenido -->
<main layout:fragment="contenido">
</main>

<footer>
    <hr>
    <p>© Empresa - Gestión de Nóminas</p>
</footer>

</body>
</html>
